body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}
#start-box {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  transition: opacity 2s;
}
#game-title {
  position: relative;
  font-size: 7vmax;
}
#soundInput {
  position: relative;
  top: 1%;
}
#soundToggle {
  position: absolute;
  top: 0%;
}
#soundPar {
  font-size: 2vmax;
  top: 0%;
  margin-block-end: 0%
}
#start {
  position: relative;
  top: 1em;
  left: 0%;
}
#sound {
  position: relative;
  top: 1em;
  left: 0%;
  border-top: 1em;
}
#monkeypic {
  position: absolute;
  left: 40%;
  top: 50%;
  height: 25vmax;
  user-select: none;
  
}
#game_grid {
  display: grid;
  background-color: rgba(0, 0, 0, 1);
  margin: 3%;
  height: 94%;
}
.numbered-grid-cell {
  background-color: rgba(255, 255, 255, 0);
  background-size: 7vmax;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  font-size: 7vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.grid-cell {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0);
  user-select: none;
}
.button {
  padding: 1vmax;
  font-size: 2.5vmax;
  position: absolute;
  top: 10%;
  left: 4%;
  background-color: rgb(12, 165, 170);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 12px;
  user-select: none;
}
#reset {
  visibility: hidden;
}
.message {
  font-size: 8vmax;
  color: white;
  position: absolute;
  top: 25%;
  left: 30%;
  visibility: hidden;
  user-select: none;
}
#time {
  font-size: 4vmax;
  color: white;
  position: absolute;
  top: 45%;
  left: 30%;
}
#github {
  opacity: 1;
  transition: opacity 2s;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }

  20%, 60% {
    transform: rotate(-25deg)
  }

  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
